@import url(..//css/font.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Lato-Regular;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.section-gab {
  padding: 70px 0px 0px;
}
.head-title {
  text-align: center;
}
.head-title h1 {
  font-size: 42px;
  font-family: Inter-Bold;
  text-transform: uppercase;
}
.head-title p {
  font-size: 30px;
}
.bgCover {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sign-up {
  border-radius: 10px;
  font-size: 25px;
  max-width: 175px;
  padding: 10px 0px;
  display: inline-block;
  background-color: #fe018a;
  border-color: #fe018a;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}
.sign-up:hover {
  color: #fff;
  background-color: #fb4570;
}
.web-view {
  display: block;
}
.mobile-view {
  display: none;
}
/* Header-section */
.header-section {
  padding: 20px 0px;
  /* background-color: #00000069; */
  background-color: #000;
  z-index: 9;
  width: 100%;
  /* position: absolute; */
}
.header-section .sec-img {
  text-align: center;
}
.header-section .sec-img h2 {
  color: #fff;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 35px;
}
.header-section .sec-img p {
  font-size: 23px;
  color: rgb(43, 196, 61);
  margin-bottom: 0px;
}
.header-section .wrap-btn {
  text-align: end;
}

/* general styling */

/* banner-section */
.banner-section {
  position: relative;
  /* height: 100vh; */
}
.banner-section .banner-inner-img img {
  width: 100%;
}
.banner-section .banner-dec-text {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  display: none;
}
.banner-section .banner-dec-text h2 {
  font-size: 110px;
  font-weight: bold;
  color: rgb(43, 196, 61);
}
.banner-section .banner-dec-text h4 {
  font-size: 60px;
}
.banner-section .banner-dec-text h4 span {
  font-weight: bold;
  font-size: 80px;
}
/* bootcamp-section */
.bootcamp-section {
  padding-top: 40px;
}
.bootcamp-section .head-title {
  text-align: start;
  margin-bottom: 40px;
}
.bootcamp-section .head-title h1 {
  font-size: 56px;
  color: #000;
}
.bootcamp-section .head-title p {
  color: #fe018a;
  text-align: center;
  font-size: 56px;
  font-family: Inter-Bold;
  margin-top: 20px;
}
.bootcamp-section ul {
  list-style-image: url(..//img/check-solid.svg);
  padding-left: 30px;
}
.bootcamp-sev {
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.bootcamp-section ul li {
  font-size: 18px;
  margin-bottom: 18px;
  background: #fbfbfb;
  padding: 6px 10px;
  border-radius: 10px;
}
.bootcamp-section ul li strong {
  color: #000;
}

/* END bootcamp-section */
/* testimonials-section */
.testimonials-section {
  padding: 70px 0px 0px;
}
.testimonials-section .head-title {
  color: #fff;
  margin-bottom: 40px;
}
.testimonials-section .head-title h1 {
  color: #000;
}
.testimonials-box {
  border: 1px solid #fff;
  color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  background: #fe018a;
  cursor: pointer;
  min-height: 530px;
}
.testimonials-box:hover {
  background: #e00278;
}

.testimonials-box .rate-img {
  margin-top: 10px;
}
.testimonials-box .rate-img img {
  width: 130px;
  margin: auto;
}
.testimonials-box p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.testimonials-box p strong {
  font-weight: 600;
  margin-bottom: 10px;
}
.testimonials-box h2 {
  font-size: 20px;
  font-family: Inter-Bold;
  text-align: center;
}

.testimonials-section .testimonials-slider .owl-nav {
  display: block;
}
.testimonials-section .testimonials-slider .owl-nav button {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 45%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.12);
}
.testimonials-section .testimonials-slider .owl-nav button:hover {
  background: #f4f4f4;
}
.testimonials-section .testimonials-slider .owl-nav button span {
  font-size: 50px;
  display: inline-block;
  margin-top: -12px;
  font-weight: 800;
}
.testimonials-section .testimonials-slider .owl-nav .owl-prev {
  left: -20px;
}
.testimonials-section .testimonials-slider .owl-nav .owl-next {
  right: -20px;
}

/* sortable-wrap */
.sortable-wrap {
  background-color: #fe018a;
  padding: 70px 0px;
}
.sortable-wrap .price-wrap {
  text-align: center;
  color: #ffffff;
}
.sortable-wrap .price-wrap .price-table p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}
.sortable-wrap .price-wrap .price-table .price-annual {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}
.sortable-wrap .price-wrap .price-table h1 {
  font-size: 44px;
  font-family: Inter-Bold;
  text-align: center;
  margin-bottom: 0px;
  margin-right: 10px;
}
.sortable-wrap .price-wrap .price-table span {
  font-size: 20px;
}
.sortable-wrap .price-wrap .price-btn p {
  font-size: 40px;
  font-weight: 600;
}
.sortable-wrap .price-wrap .price-btn a {
  font-size: 45px;
  font-family: Inter-Bold;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: #2bc43d;
  padding: 15px 40px;
  border-radius: 10px;
}
.sortable-wrap .price-wrap .price-btn a:hover {
  background-color: #14b327;
}
.sortable-wrap iframe {
  border-radius: 20px;
  margin-top: 50px;
}
/* register-section */
.register-section {
  /* background-image: url(..//img/banner2.png); */
  padding: 70px 0px 0px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9;
}

/* story-section */
.story-section .head-title {
  margin-bottom: 40px;
}
.story-section .head-title h1 {
  color: #fe018a;
}
.story-section .stroy-wrap {
  padding: 25px;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.story-section .stroy-wrap:hover {
  box-shadow: 0px 0px 20px -15px;
}
.story-section .stroy-wrap img {
  border-radius: 20px;
}
.story-section .stroy-wrap h4 {
  margin-top: 20px;
  font-size: 22px;
  font-family: Inter-Bold;
  margin-bottom: 0px;
  min-height: 48px;
}
.story-section .stroy-wrap h4 span {
  color: #fe018a;
}
/* subscribe-section */
.subscribe-section {
  padding: 80px 0px;
  margin-top: 70px;
  background-image: url(..///img/subscribe.webp);
}
.subscribe-dec {
  color: #fff;
}
.subscribe-dec span {
  font-size: 20px;
  font-family: Inter-Bold;
}
.subscribe-dec h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: Inter-Bold;
  margin-bottom: 0px;
}
.subscribe-dec h2 {
  color: #fe018a;
  font-size: 115px;
  font-family: Inter-Bold;
  margin-bottom: 0px;
}
.subscribe-dec h3 {
  font-size: 50px;
  font-family: Inter-Bold;
  margin-bottom: 0px;
}
.subscribe-dec p {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fe018a;
  display: flex;
  align-items: center;
  font-family: Inter-Bold;
}
.subscribe-dec p span {
  color: #fff;
  margin-left: 5px;
  margin-right: 10px;
}
.subscribe-dec a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(254, 23, 135);
  font-size: 40px;
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
}
.subscribe-dec a:hover {
  background-color: rgb(43, 196, 61);
}
/* footer-section */
.footer-section {
  background-color: #fe018a;
  color: #fff;
  padding: 30px 0px;
}
.footer-section ul li {
  padding: 0px 12px;
}
.footer-section ul li a {
  color: #fff;
  font-size: 16px;
  font-family: Lato-Bold;
}
.footer-section p {
  margin-bottom: 0px;
  font-size: 16px;
  text-align: end;
}
/*  Responsive*/
@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .subscribe-dec h1 {
    font-size: 50px;
  }
  .subscribe-dec h2 {
    color: #fe018a;
    font-size: 95px;
  }
  .subscribe-dec h3 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .header-section {
    position: relative;
  }
}
@media only screen and (max-width: 1150px) {
  .footer-section ul li a,
  .footer-section p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .section-gab {
    padding: 50px 0px 0px;
  }
  .header-section .sec-img {
    width: 80%;
    margin: auto;
  }
  .bootcamp-section .head-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .bootcamp-section .head-title h1 {
    font-size: 42px;
  }
  .head-title p {
    font-size: 25px;
  }
  .header-section .sec-img h2 {
    font-size: 26px;
  }
  .header-section .sec-img p {
    font-size: 20px;
  }
  .sign-up {
    font-size: 20px;
  }
  .testimonials-box {
    min-height: 400px;
  }
  .border-two {
    margin-bottom: 0px;
  }

  .sortable-wrap iframe {
    border-radius: 20px;
    height: 420px;
  }

  .story-section .stroy-wrap {
    padding: 0px;
  }
  .story-section .stroy-wrap h4 {
    font-size: 16px;
    padding: 0px 7px;
  }
  .subscribe-dec {
    text-align: center;
  }
  .footer-section ul {
    justify-content: center;
  }
  .footer-section p {
    text-align: center;
    margin-top: 20px;
  }
  .subscribe-dec p {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-view {
    display: block;
  }
  .web-view {
    display: none;
  }

  .bootcamp-section .head-title p {
    font-size: 32px;
  }
  .header-section {
    padding: 10px 0px;
  }
  .header-section .wrap-btn a {
    width: 130px;
  }
  .countdown-wrap ul {
    margin-top: 10px;
    text-align: center;
  }
  .header-section .sec-img {
    width: 100%;
    margin-top: 20px;
  }
  .bootcamp-section .head-title h1,
  .head-title h1 {
    font-size: 32px;
  }

  .head-title p {
    font-size: 20px;
  }
  .bootcamp-section ul li {
    font-size: 15px;
    margin-bottom: 14px;
  }
  .sortable-wrap iframe {
    height: 300px;
  }

  .story-section .stroy-wrap h4 {
    font-size: 14px;
    padding: 0px 0px;
  }
  .story-section .stroy-wrap {
    border: none;
  }
  .subscribe-dec h1 {
    font-size: 50px;
  }
  .subscribe-dec h2 {
    color: #fe018a;
    font-size: 95px;
  }
  .subscribe-dec h3 {
    font-size: 40px;
  }
  .subscribe-dec p {
    font-size: 18px;
    margin-top: 30px;
  }
  .subscribe-dec a {
    font-size: 30px;
    padding: 13px 20px;
  }
  .footer-section {
    padding: 20px 0px;
  }
  .section-gab {
    padding: 40px 0px 0px;
  }
  .testimonials-section {
    padding: 40px 0px 40px;
  }
  .story-section .stroy-wrap:hover {
    box-shadow: none;
  }
}
@media only screen and (max-width: 575px) {
  .story-section .stroy-wrap h4 {
    font-size: 21px;
    padding: 0px 0px 40px;
  }
}
@media only screen and (max-width: 525px) {
  .sign-up {
    font-size: 18px;
    max-width: 145px;
    padding: 7px 5px;
  }
  .sortable-wrap {
    background-color: #fe018a;
    padding: 40px 0px;
  }
  .sortable-wrap .price-wrap .price-btn p {
    font-size: 30px;
  }
  .sortable-wrap .price-wrap .price-table .price-annual {
    display: block;
  }
  .brand-logo {
    width: 120px;
  }
  .header-section .sec-img {
    width: 70%;
  }
  .bootcamp-sev {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .header-section .sec-img {
    margin-top: 10px;
  }

  .bootcamp-section .head-title h1,
  .head-title h1 {
    font-size: 28px;
  }

  .sortable-wrap iframe {
    height: 250px;
  }
  .testimonials-section .testimonials-slider .owl-nav button {
    top: 35%;
    height: 30px;
    width: 30px;
  }
  .testimonials-section .testimonials-slider .owl-nav .owl-prev {
    left: -10px;
  }
  .testimonials-section .testimonials-slider .owl-nav .owl-next {
    right: -10px;
  }
  .testimonials-section .testimonials-slider .owl-nav button span {
    font-size: 40px;
    margin-top: -7px;
  }
  .testimonials-box {
    padding: 20px;
  }
  .testimonials-box p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .testimonials-section {
    padding: 40px 0px 40px;
  }

  .story-section .head-title {
    margin-bottom: 20px;
  }
  .subscribe-dec h1 {
    font-size: 44px;
  }
  .subscribe-dec h2 {
    color: #fe018a;
    font-size: 80px;
  }
  .subscribe-dec h3 {
    font-size: 30px;
  }
  .subscribe-dec p {
    display: block;
  }
  .footer-section ul {
    justify-content: space-between;
  }
  .footer-section ul li {
    padding: 0px;
  }
  .footer-section ul li a,
  .footer-section p {
    font-size: 12px;
  }
  .footer-section p {
    margin-top: 10px;
  }
}
